<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageTest1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ImageTest1.Properties.Settings>
            <setting name="NumberOfScreen" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ScreenInfomations" serializeAs="String">
                <value>0, 0, 960, 540 / 960, 0, 960, 440 / 0, 540, 400, 540</value>
            </setting>
            <setting name="ResizeList" serializeAs="String">
                <value>0.25, 0.5, 0.75, 1.0, 1.5, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0</value>
            </setting>
            <setting name="LeftDestinations" serializeAs="String">
                <value>1, 0, 1</value>
            </setting>
            <setting name="RightDestinations" serializeAs="String">
                <value>1, 0, 1</value>
            </setting>
            <setting name="UpDestinations" serializeAs="String">
                <value>2, 2, 0</value>
            </setting>
            <setting name="DownDestinations" serializeAs="String">
                <value>2, 2, 0</value>
            </setting>
            <setting name="HorizontallyLongScreen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VerticallyLongScreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveValueSmall" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MoveValueLarge" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CommandLine" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PreLoadNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InterpolationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BufferNumber" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ScreenInfoAuto" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InterlockScreenNumber" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MoveAfterCopy" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChangeLeftRight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DoMaximize" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="DoRotateRight" serializeAs="String">
                <value>f</value>
            </setting>
            <setting name="DoRotateLeft" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="DoExpansion" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="DoReduce" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DoPrevFile" serializeAs="String">
                <value>q,Up</value>
            </setting>
            <setting name="DoNextFile" serializeAs="String">
                <value>a,Down</value>
            </setting>
            <setting name="DoPrevFileChangable" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="DoNextFileChangable" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="DoMoveLeftSmall" serializeAs="String">
                <value>Ctrl+Left</value>
            </setting>
            <setting name="DoMoveRightSmall" serializeAs="String">
                <value>Ctrl+Right</value>
            </setting>
            <setting name="DoMoveUpSmall" serializeAs="String">
                <value>Ctrl+Up</value>
            </setting>
            <setting name="DoMoveDownSmall" serializeAs="String">
                <value>Ctrl+Down</value>
            </setting>
            <setting name="DoMoveLeftLarge" serializeAs="String">
                <value>Shift+Left</value>
            </setting>
            <setting name="DoMoveRightLarge" serializeAs="String">
                <value>Shift+Right</value>
            </setting>
            <setting name="DoMoveUpLarge" serializeAs="String">
                <value>Shift+Up</value>
            </setting>
            <setting name="DoMoveDownLarge" serializeAs="String">
                <value>Shift+Down</value>
            </setting>
            <setting name="DoMoveLeftScreen" serializeAs="String">
                <value>Shift+Left</value>
            </setting>
            <setting name="DoMoveRightScreen" serializeAs="String">
                <value>Shift+Right</value>
            </setting>
            <setting name="DoMoveUpScreen" serializeAs="String">
                <value>Shift+Up</value>
            </setting>
            <setting name="DoMoveDownScreen" serializeAs="String">
                <value>Shift+Down</value>
            </setting>
            <setting name="DoNoCopyFile" serializeAs="String">
                <value>NumPad0</value>
            </setting>
            <setting name="DoNoCopyFileReverse" serializeAs="String">
                <value>Decimal</value>
            </setting>
            <setting name="DoCopyFile1" serializeAs="String">
                <value>NumPad1</value>
            </setting>
            <setting name="DoCopyFile2" serializeAs="String">
                <value>NumPad2</value>
            </setting>
            <setting name="DoCopyFile3" serializeAs="String">
                <value>NumPad3</value>
            </setting>
            <setting name="DoCopyFile4" serializeAs="String">
                <value>NumPad4</value>
            </setting>
            <setting name="DoCopyFile5" serializeAs="String">
                <value>NumPad5</value>
            </setting>
            <setting name="DoCopyFile6" serializeAs="String">
                <value>NumPad6</value>
            </setting>
            <setting name="DoCopyFile7" serializeAs="String">
                <value>NumPad7</value>
            </setting>
            <setting name="DoCopyFile8" serializeAs="String">
                <value>NumPad8</value>
            </setting>
            <setting name="DoCopyFile9" serializeAs="String">
                <value>NumPad9</value>
            </setting>
            <setting name="DoClose" serializeAs="String">
                <value>Esc</value>
            </setting>
            <setting name="DoSortModeFilenameAsc" serializeAs="String">
                <value>Shift+F1</value>
            </setting>
            <setting name="DoSortModeFilenameDesc" serializeAs="String">
                <value>Shift+F2</value>
            </setting>
            <setting name="DoSortModeTimeAsc" serializeAs="String">
                <value>Shift+F3</value>
            </setting>
            <setting name="DoSortModeTimeDesc" serializeAs="String">
                <value>Shift+F4</value>
            </setting>
            <setting name="DoFirstFile" serializeAs="String">
                <value>Home</value>
            </setting>
            <setting name="DoLastFile" serializeAs="String">
                <value>End</value>
            </setting>
            <setting name="DoSkipNextFile" serializeAs="String">
                <value>PageDown</value>
            </setting>
            <setting name="DoSkipPrevFile" serializeAs="String">
                <value>PageUp</value>
            </setting>
            <setting name="DoIncrementPageNumber" serializeAs="String">
                <value>]</value>
            </setting>
            <setting name="DoDecrementPageNumber" serializeAs="String">
                <value>[</value>
            </setting>
            <setting name="DoMaximizeModeChange" serializeAs="String">
                <value>z</value>
            </setting>
            <setting name="DoCopyFullName" serializeAs="String">
                <value>Shift+C</value>
            </setting>
            <setting name="DoCopyFile" serializeAs="String">
                <value>Ctrl+C</value>
            </setting>
            <setting name="DoSelectExplorer" serializeAs="String">
                <value>Shift+Enter</value>
            </setting>
            <setting name="DoExecCommand1" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="DoExecCommand2" serializeAs="String">
                <value>Shift+F12</value>
            </setting>
            <setting name="DoExecCommand3" serializeAs="String">
                <value>Shift+F11</value>
            </setting>
            <setting name="DoExecCommand4" serializeAs="String">
                <value>Shift+F10</value>
            </setting>
            <setting name="DoExecCommand5" serializeAs="String">
                <value>Shift+F9</value>
            </setting>
            <setting name="DoReload" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="DoSinglePage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DoTwoPages" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DoInterlock" serializeAs="String">
                <value>Shift+I</value>
            </setting>
            <setting name="DoMoveFiles" serializeAs="String">
                <value>Shift+M</value>
            </setting>
            <setting name="DoRenamePage" serializeAs="String">
                <value>Shift+P</value>
            </setting>
            <setting name="DoShowPage" serializeAs="String">
                <value>p</value>
            </setting>
            <setting name="DoThreePages" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DoWatchMode" serializeAs="String">
                <value>Shift+W</value>
            </setting>
            <setting name="DoOpenFile" serializeAs="String">
                <value>o,Ctrl+O</value>
            </setting>
            <setting name="DoOpenDirectory" serializeAs="String">
                <value>Shift+O</value>
            </setting>
            <setting name="DoChangeFocus" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="DoFrontBack" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DoShowBorder" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="DoChangeLeftRight" serializeAs="String">
                <value>Shift+R</value>
            </setting>
            <setting name="DoTwoPagesFrontBack" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DoConfig" serializeAs="String">
                <value>@</value>
            </setting>
            <setting name="DestinationDirectory1" serializeAs="String">
                <value>C:\fav\dir1</value>
            </setting>
            <setting name="DestinationDirectory2" serializeAs="String">
                <value>C:\fav\dir2</value>
            </setting>
            <setting name="DestinationDirectory3" serializeAs="String">
                <value>C:\fav\dir3</value>
            </setting>
            <setting name="DestinationDirectory4" serializeAs="String">
                <value>C:\fav\dir4</value>
            </setting>
            <setting name="DestinationDirectory5" serializeAs="String">
                <value>C:\fav\dir5</value>
            </setting>
            <setting name="DestinationDirectory6" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDirectory7" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDirectory8" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDirectory9" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearAfterExecCommand1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClearAfterExecCommand2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExecCommand3" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearAfterExecCommand3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExecCommand4" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearAfterExecCommand4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExecCommand5" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearAfterExecCommand5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InterlockFolder" serializeAs="String">
                <value>C:\scan</value>
            </setting>
            <setting name="InitialFolder" serializeAs="String">
                <value>{MyPictures}</value>
            </setting>
            <setting name="ExecCommandAfterMoveFiles" serializeAs="String">
                <value>{ImageTest1} -p2 -b -spn {destDir}</value>
            </setting>
            <setting name="ExecCommand1" serializeAs="String">
                <value>"{ImageTest1-Dir}\ScanClick.ahk"</value>
            </setting>
            <setting name="ExecCommand2" serializeAs="String">
                <value>"{ImageTest1-Dir}\RenScan.bat" {filename}</value>
            </setting>
        </ImageTest1.Properties.Settings>
    </userSettings>
</configuration>